.nav-home li a:hover{
    background-color: #008046;
}
.login-home ul li a:hover{
    background-color: #008046;
}
.scroll {
    max-height: 400px;
    overflow-y:auto;
    overflow-x: hidden;
}

.datetime{
    color: #fff;
    background:seagreen ;
    font-family: "Segoe UI", sans-serif;
    border: 3px solid seagreen;
    border-radius: 5px;
}
.date{
    font-size: 8pt;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: seagreen;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 5px;
    border-radius: 3px;
}
